<!-- <section>
  <form 
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm)">
    <mat-form-field>
      <input 
        type="email"
        matInput 
        placeholder="Email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-hint>Your awesome email</mat-hint>
      <mat-error>Invalid or missing email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      type="password"
      matInput 
      placeholder="Password"
      ngModel
      name="password"
      password
      required
      #pwInput="ngModel">
      <mat-hint>Your Secret Password</mat-hint>
      <mat-error>Password is required</mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</section> -->

<!-- Reactive Approach -->
<section>
  <form
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Your email"
        formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        matInput 
        placeholder="Your Password"
        formControlName="password">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>
    <button 
      type="submit" 
      mat-raised-button 
      color="primary" 
      [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</section>